body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

/*   NAV   */

.personal-nav{
  float: right;
}

/*   News   */

.News{
  display: flex;
  flex-wrap: wrap;
}

.News .NewsItem{
  border: 1px solid black;
  flex: 1 0 33%
}

/*    Home    */
.home{

}

.home .result-lists{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.home .result-lists .ResultList{
  
}

@media only screen and (max-width: 900px){
  .home .result-lists{
    grid-template-columns: 1fr;
  }
}

.test{
  border: 1px solid black;
  width: 100%;
  height: 50px;
  background-color: beige;
}